<ns-action-bar title="Select a Restaurant"></ns-action-bar>
<StackLayout>
    <GridLayout (tap)="selectRestaurant(restaurant)" *ngFor="let restaurant of restaurants"
                columns="auto, *"
                rows="auto, auto, auto, auto">
        <Label class="p-l-15 p-b-10 m-r-20" col="0" row="0" text="Name"></Label>
        <Label [text]="restaurant.name" class="p-b-10" col="1" row="0"></Label>

        <Label class="p-l-15 p-b-10 m-r-20" col="0" row="1" text="Address"></Label>
        <Label [text]="restaurant.address" class="p-b-10" col="1" row="1"></Label>

        <Label class="p-l-15 p-b-10 m-r-20" col="0" row="2" text="Phone"></Label>
        <Label [text]="restaurant.phone" class="p-b-10" col="1" row="2"></Label>
        <StackLayout class="hr" col="0" colSpan="2" row="3"></StackLayout>
        -->
    </GridLayout>
</StackLayout>

