<ns-action-bar
        [hasMenu]="true"
        [showBackButton]="true"
        title="Login"
></ns-action-bar>
<StackLayout [formGroup]="form" class="form">
    <StackLayout class="input-field">
        <Label
                [ngClass]="{ invalid: false }"
                class="label"
                text="E-Mail"
        ></Label>
        <TextField
                #emailEl
                [autocorrect]="false"
                autocapitalizationType="none"
                class="input"
                formControlName="email"
                keyboardType="email"
                returnKeyType="next"
        ></TextField>
        <Label
                *ngIf="false"
                text="Please enter a valid title."
        ></Label>
    </StackLayout>
    <StackLayout class="input-field">
        <Label
                [ngClass]="{ invalid: false }"
                class="label"
                text="Password"
        ></Label>
        <TextField
                #passwordEl
                [autocorrect]="false"
                [secure]="true"
                autocapitalizationType="none"
                class="input"
                formControlName="password"
                hint="Min 6 characters"
                returnKeyType="done"
        ></TextField>
        <Label
                *ngIf="false"
                text="Please enter a valid description."
        ></Label>
    </StackLayout>
    <Button
            (tap)="onSubmit()"
            class="btn btn-primary btn-rounded-lg"
            text="Login"
    ></Button>
</StackLayout>
