<ActionBar (loaded)="onLoadedActionBar()" [title]="title">
    <NavigationButton
            (tap)="onGoBack()"
            *ngIf="canGoBack"
            android.systemIcon="ic_menu_back"
            text="Back"
    ></NavigationButton>
    <NavigationButton
            (tap)="onToggleMenu()"
            *ngIf="android && hasMenu"
            icon="res://menu_black"
    ></NavigationButton>
    <ActionItem
            (tap)="onToggleMenu()"
            *ngIf="!android && hasMenu"
            ios.position="left"
    >
        <Label text="MENU"></Label>
    </ActionItem>
    <ng-content></ng-content>
</ActionBar>
