<RadSideDrawer>
    <FlexboxLayout class="drawer-container" tkDrawerContent>
        <Button (tap)="toggleDrawer()"
                *ngIf="publicView"
                [clearHistory]="true"
                class="btn"
                nsRouterLink="/home"
                text="Home"
        ></Button>
        <Button (tap)="toggleDrawer()"
                *ngIf="publicView"
                [clearHistory]="true"
                class="btn"
                nsRouterLink="/searchRestaurant"
                text="Search Restaurants"
        ></Button>
        <Button (tap)="toggleDrawer()"
                *ngIf="publicView"
                [clearHistory]="true"
                class="btn"
                nsRouterLink="/login"
                text="Login"
        ></Button>
        <Button (tap)="toggleDrawer()"
                *ngIf="!publicView"
                [clearHistory]="true"
                class="btn"
                nsRouterLink="/profile"
                text="Profile"
        ></Button>
        <Button (tap)="toggleDrawer()"
                *ngIf="!publicView"
                [clearHistory]="true"
                class="btn"
                nsRouterLink="/show-menu"
                text="Menu"
        ></Button>
        <Button (tap)="toggleDrawer();"
                *ngIf="!publicView"
                [clearHistory]="true"
                class="btn"
                nsRouterLink="/show-order"
                text="Current Order(s)"
        ></Button>
        <Button (tap)="toggleDrawer(); logout();"
                *ngIf="!publicView"
                [clearHistory]="true"
                class="btn"
                nsRouterLink="/login"
                text="Logout"
        ></Button>
    </FlexboxLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>
